<h1>Here are all the Danes</h1>

<% @danes.each do |dane| %>
  <div class="vivek-card">
    <p> <%= dane.danish %> <%= dane.bio %> <%= dane.first_name %> <%= dane.last_name %> </p>
  </div>
<% end %>
